In [1]:
import joblib
import pandas as pd

In [2]:
filename = 'KNN_RegV2.sav'
sav_model = joblib.load(filename)
print(sav_model)

KNeighborsRegressor(n_neighbors=9)

In [18]:
surface = [230, 140, 150, 160,]
zipcode_new = [1098, 1072, 1034, 1066]
rooms_new = [4,3,2,5]
raw_data  = pd.DataFrame({'surface': surface, 'zipcode_new':zipcode_new, 'rooms_new':rooms_new})
raw_data

   surface  zipcode_new  rooms_new
0      230         1098          4
1      140         1072          3
2      150         1034          2
3      160         1066          5

In [19]:
sav_model.predict(raw_data)

array([186.88888889, 322.11111111, 402.11111111, 298.88888889])